body {
    color: white;
    background-color: black;
    font-family: 'Sacramento', cursive;
    font-size: 100%;
    margin: 5em 25%;
}
p {
    font-family: fantasy;
}
.forbode {
    font-style: italic;
<<<<<<< HEAD
    font-size: 125%;
    color: red;
}
